In [1]:
# Section 1: Load Setup

# Import necessary libraries
import pandas as pd       # for data handling
import sqlite3            # for working with SQLite databases
import os                 # for file and folder operations

# Ensure the 'loaded_data' folder exists to store output databases
# If it doesn't exist, it will be created
# If it already exists, this won't raise an error
os.makedirs("loaded_data", exist_ok=True)

In [2]:
# Section 2: Load Full Transformed Data

# Load the full transformed dataset
df_full = pd.read_csv("transformed_full.csv")

# Connect to (or create) a SQLite database file
# This will create 'full_data.db' in the loaded_data folder
conn = sqlite3.connect("loaded_data/full_data.db")

# Write the dataframe to a new table named 'full_data'
# if_exists='replace' will overwrite the table if it already exists
df_full.to_sql("full_data", conn, if_exists="replace", index=False)

# Close the database connection
conn.close()

In [3]:
# Section 3: Load Incremental Transformed Data

# Load the incremental transformed dataset
df_incremental = pd.read_csv("transformed_incremental.csv")

# Connect to (or create) a new SQLite database for incremental data
conn = sqlite3.connect("loaded_data/incremental_data.db")

# Write the dataframe to a table called 'incremental_data'
df_incremental.to_sql("incremental_data", conn, if_exists="replace", index=False)

# Close the connection
conn.close()

In [4]:
# Section 4: Verification - Preview Full Data

# Reconnect to the full_data database
conn = sqlite3.connect("loaded_data/full_data.db")

# Run a SQL query to preview the first 5 rows of the 'full_data' table
preview_full = pd.read_sql("SELECT * FROM full_data LIMIT 5;", conn)

# Close connection
conn.close()

# Display the result
preview_full

,player_id,player_name,team,match_date,points_scored,assists,rebounds,last_updated,total_contribution
0,P001,Sherry Miles,Falcons,2025-04-24,25,2,12,2025-04-27,39
1,P002,Gina Campbell,Falcons,2025-06-08,36,14,17,2025-06-08,67
2,P003,Holly Williams,Wolves,2025-06-09,29,11,14,2025-06-14,54
3,P004,Charles Dixon,Tigers,2025-04-20,10,0,3,2025-04-25,13
4,P005,Travis Moore,Eagles,2025-04-20,19,5,16,2025-04-22,40

In [ ]:
# Preview Incremental Data

conn = sqlite3.connect("loaded_data/incremental_data.db")
preview_incremental = pd.read_sql("SELECT * FROM incremental_data LIMIT 5;", conn)
conn.close()

preview_incremental

,player_id,player_name,team,match_date,points_scored,assists,rebounds,last_updated,total_contribution
0,P002,Gina Campbell,Falcons,2025-06-08,36,14,17,2025-06-08,67
1,P003,Holly Williams,Wolves,2025-06-09,29,11,14,2025-06-14,54
2,P008,David Wilson,Eagles,2025-06-03,26,6,13,2025-06-07,45
3,P009,David Collier,Sharks,2025-05-28,24,7,4,2025-05-31,35
4,P010,Stephanie Hill,Tigers,2025-06-08,18,11,14,2025-06-11,43